# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
logs/*
!logs/.gitkeep

# Data files
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/reports/*
!data/reports/.gitkeep

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
